extends ../layout

block content
  #post.h-entry
    header
      img(src="/images/blog/stock-photography.jpg")
      h1.p-name Favorite Stock Photo Sites
      p
        span.pub-date.dt-published June 26th, 2016
        br
        span.author.p-author Michelle JL
    .content.e-content
      p Although I certainly consider myself to be a photographer, at least of the hobbyist variety, I don't often have the pictures I am looking for when building a site. While I continue to grow my own collection of photos I can use, I have started gathering up a list of my favorite places to look for free stock photos.
      ol
        li
          h2
            a(href="https://unsplash.com/" target="_blank") Unsplash
          p Unsplash is probably my favorite source for new images, especially if I don't have anything specifically in mind that I am looking for. They have some absolutely amazing photography that looks great as fill-ins when I am designing sites and don't have content yet. They publish 10 new photos every 10 days, so there is always something new.
          p They also have an
            a(href="https://source.unsplash.com/" target="_blank") API
            |  available so that you don't have to select and download photos. It will automatically provide you with a random image (based on inputs you give it) every time the page is reloaded.
        li
          h2
            a(href="http://startupstockphotos.com/" target="_blank") Startup Stock Photos
          p This site doesn't have a lot of variety, but when I am looking for a photo with a laid back and tech vibe to it, this is always my first stop.
        li
          h2
            a(href="https://pixabay.com/" target="_blank") Pixabay
          p I have had a decent amount of luck finding images on this site to fit a variety of situations. It is usually my first stop if I am looking for something specific.
        li
          h2
            a(href="http://negativespace.co/" target="_blank") Negative Space
          p Another decent stock site that has returned good results when I have used it in the past. Using a variety of sites helps make sure I find the best image for any situation, and this one has definitely added to the pile of pictures I have picked for use.
        li
          h2
            a(href="https://stocksnap.io/" target="_blank") StockSnap.io
          p A great option and the third of my main three stops when I am looking for something more specific. This site has many great photos to choose from, and a decent browsing section to just get inspiration from.
        li
          h2
            a(href="http://www.lifeofpix.com/" target="_blank") Life of Pix
          p A newer one to my list of stock sites to check out, I don't think I have used any of these pictures on projects yet, but it looks very promising. Having several sites to search always helps!



















