#basic-info
  h1 Too Many Details
  .flex
    .image
      img(src="/images/me_camera.jpg")
    .info
      ul
        li
          span.topic
            i.fa.fa-user
            | Name:
          span.answer
            | Michelle J Levine
        li
          span.topic
            i.fa.fa-map-marker
            | Current City I Call Home:
          span.answer
            | Portland, Oregon Area
        li
          span.topic
            i.fa.fa-hospital-o
            | Original Home Town:
          span.answer
            | San Francisco / Bay Area, California
        li
          span.topic
            i.fa.fa-briefcase
            | Job Title:
          span.answer
            | Software Engingeer @
            a(href="https://stackery.io" target="_blank") Stackery
        li
          span.topic
            i.fa.fa-camera-retro
            | Hobbies:
          span.answer
            | Reading,
            a(href="http://threewoodenpigeons.com" target="_blank") Photography
            | , Painting, Gaming, Coding
        li
          span.topic
            i.fa.fa-globe
            | Furthest I have been from home:
          span.answer
            | 7,581 Miles (Sydney, Australia)
        li
          span.topic
            i.fa.fa-book
            | Currently Reading:
          span.answer
            a(href="https://www.barnesandnoble.com/w/shadow-rising-robert-jordan/1100356884?ean=9781429960199" target="_blank")
              | The Shadow Rising by Robert Jordan
  p.center Want to know something else? Send me a
    a(href="/contact") message
    | !