#conference
  h1 Social Coding
  h2.center Conferences and Hackathons
  ul.big-events-list
    li.year
      h2 2017
      ul.flex
        li.conference.h-event
          span.title.p-name Indie Web Summit
          span.date
            time.dt-start(datetime="2017-06-24") June 24
            |  -
            time.dt-end(datetime="2017-06-25")  25
            | , 2017
          span.location.p-location Portland, Oregon
        li.conference.h-event
          span.title.p-name Open Source Bridge
          span.date
            time.dt-start(datetime="2017-06-20") June 20
            |  -
            time.dt-end(datetime="2017-06-22")  22
            | , 2017
          span.location.p-location Portland, Oregon
        li.conference.h-event
          span.title.p-name ACT-W
          span.date
            time.dt-start(datetime="2017-06-16") June 16
            |  -
            time.dt-end(datetime="2017-06-17")  17
            | , 2017
          span.location.p-location Portland, Oregon
        li.conference.h-event
          span.title.p-name Developer Week
          span.date
            time.dt-start(datetime="2017-02-13") February 13
            |  -
            time.dt-end(datetime="2017-02-13")  15
            | , 2017
          span.location.p-location Pier 27 in San Fransisco, California
        li.hackathon.h-event
          span.title.p-name Developer Week Hackathon
          span.date
            time.dt-start(datetime="2017-02-11") February 11
            |  -
            time.dt-end(datetime="2017-02-12")  12
            | , 2017
          span.location.p-location Galvanize in San Francisco, California
        li.hackathon.h-event
          span.title.p-name Hack the Dot
          span.date
            time.dt-start(datetime="2017-02-09") February 09
            time.dt-end(datetime="2017-02-09")
            | , 2017
          span.location.p-location Vacasa in Portland, Oregon
    li.year
      h2 2016
      ul.flex
        li.hackathon.h-event
          span.title.p-name IoT Hackathon - Women Who Code
          span.date
            time.dt-start(datetime="2016-12-02") December 02
            |  -
            time.dt-end(datetime="2016-12-04")  04
            | , 2016
          span.location.p-location Simple in Portland, Oregon
        li.hackathon.h-event
          span.title.p-name We Code Women's Hackathon
          span.date
            time.dt-start(datetime="2016-11-02") November 04
            |  -
            time.dt-end(datetime="2016-11-04")  05
            | , 2016
          span.location.p-location Puppet in Portland, Oregon
        li.conference.h-event
          span.title.p-name Open Source Bridge
          span.date
            time.dt-start(datetime="2016-06-21") June 21
            |  -
            time.dt-end(datetime="2016-06-24")  24
            | , 2016
          span.location.p-location Eliot Center in Portland, Oregon
        li.conference.h-event
          span.title.p-name NodePDX
          span.date
            time.dt-start(datetime="2016-06-19") June 19
            |  -
            time.dt-end(datetime="2016-06-21")  21
            | , 2016
          span.location.p-location Bossanova Ballroom in Portland, Oregon
    li.year
      h2 2015
      ul.flex
        li.hackathon.h-event
          span.title.p-name HackPDX
          span.date
            time.dt-start(datetime="2015-12-05") December 05
            time.dt-end(datetime="2015-12-05")
            | , 2015
          span.location.p-location Airbnb in Portland, Oregon
        li.hackathon.h-event
          span.title.p-name Hack the Dot
          span.date
            time.dt-start(datetime="2015-11-12") November 12
            time.dt-end(datetime="2015-11-12")
            | , 2015
          span.location.p-location QuickLeft in Portland, Oregon
        li.conference.h-event
          span.title.p-name Wordcamp
          span.date
            time.dt-start(datetime="2015-10-24") October 24
            time.dt-end(datetime="2015-10-24")
            | , 2015
          span.location.p-location Eliot Center in Portland, Oregon
        li.hackathon.h-event
          span.title.p-name We Code Women's Hackathon
          span.date
            time.dt-start(datetime="2015-07-24") July 24
            |  -
            time.dt-end(datetime="2015-07-25")  25
            | , 2015
          span.location.p-location Puppet Labs in Portland, Oregon