footer#footer 
  nav.secondary-nav 
    ul
      a(href="/")
        li Home
      a(href="/feed")
        li Social Feed
      a(href="/portfolio")
        li Code Portfolio
      a(href="/resume")
        li Resume
      a(href="/contact")
        li Contact
  p.small 
    | &copy; 2017 Michelle JL <br />
    a(href='mailto:michelle@michellejl.com') michelle@michellejl.com