footer#footer 
  nav.secondary-nav 
    ul
      a(href="/")
        li Home
      a(href="/blog")
        li Blog
      a(href="/portfolio")
        li Code Portfolio
      a(href="/contact")
        li Contact
  .h-card
    p.small
      | &copy; 2017
      a.p-name.u-url(href="http://michellejl.com") Michelle J Levine <br />
      a.u-email(href='mailto:michelle@michellejl.com') michelle@michellejl.com