header#header 
  span.logo
    a(href='/')
      strong Michelle JL
  ul.icons
    li
      a(href='#').icon.fa-twitter
        span.label Twitter
    li
      a(href='#').icon.fa-instagram
        span.label Instagram
    li
      a(href='#').icon.fa-github
        span.label Github
    li
      a(href='#').icon.fa-codepen
        span.label CodePen
    li
      a(href='#').icon.fa-linkedin
        span.label LinkedIn
    li
      a(href='#').icon.fa-medium
        span.label Medium