aside.off-screen-nav
  a(href="/")
    img.image__logo(src="/images/logo.png", class="logo")
  nav.off-screen-nav__nav
    ul.off-screen-nav__menu-list
      a.off-screen-nav__menu-list__link(href="/")
        li.off-screen-nav__menu-list__list-item Home
      a.off-screen-nav__menu-list__link(href="/blog")
        li.off-screen-nav__menu-list__list-item Blog
      a.off-screen-nav__menu-list__link(href="/portfolio")
        li.off-screen-nav__menu-list__list-item Portfolio
      a.off-screen-nav__menu-list__link(href="coding-stats")
        li.off-screen-nav__menu-list__list-item Coding Stats
      a.off-screen-nav__menu-list__link(href='contact')
        li.off-screen-nav__menu-list__list-item Contact
input#nav-trigger.off-screen-nav-trigger(type="checkbox")
label(for="nav-trigger") 
  span.off-screen-nav-trigger__label__icon.typography--icon
