aside#sidebar
  img.logo(src="/images/logo.png", class="logo")
  nav
    ul
      a(href="/")
        li Home
      a(href="/blog")
        li Blog
      a(href="/portfolio")
        li Code Portfolio
input#nav-trigger.nav-trigger(type="checkbox")
label(for="nav-trigger") 
  i.fa.fa-bars(aria-hidden="true") 
