aside#main-navigation
  a(href="/")
    img.logo(src="/images/logo.png", class="logo")
  nav
    ul.menu
      a(href="/")
        li Home
      a(href="/blog")
        li Blog
      a(href="/portfolio")
        li Portfolio
      a(href="coding-stats")
        li Coding Stats
      a(href='contact')
        li Contact
input#nav-trigger.nav-trigger(type="checkbox")
label(for="nav-trigger") 
  span.icon
