li
  a(href='https://twitter.com/michellejlevine' rel="me" target="_blank").icon.fa-twitter
    span.label Twitter
li
  a(href='https://www.instagram.com/spacecadetmj/' rel="me" target="_blank").icon.fa-instagram
    span.label Instagram
li
  a(href='https://github.com/michellejl' rel="me" target="_blank").icon.fa-github
    span.label Github
li
  a(href='https://codepen.io/michellejl' rel="me" target="_blank").icon.fa-codepen
    span.label CodePen
li
  a(href='https://www.linkedin.com/in/michellejl' rel="me" target="_blank").icon.fa-linkedin
    span.label LinkedIn