#volunteer
  h1 Volunteer Work
  .flex
    .info
      h2 Women Who Code
      p
        | Portland has an amazing tech community, full of people who have helped me grow in so many different ways.
        a(href="https://www.womenwhocode.com/portland" target="_blank") Women Who Code
        |  was the first group I got involved with when I moved to Portland. I am so excited that I am now a part of the leadership team working on Networking Nights and other events. Checkout upcoming events on
        a(href="https://www.meetup.com/Women-Who-Code-Portland/" target="_blank") Meetup.com
        | and say "hi".
      h2 Mentoring
      p
        | Now that I have built up some experience in the field, I enjoy being able to take some time to mentor new developers that I meet. I have a great passion for sharing what I have learnt with others. I mentor at various meetups around town as well as more official relationships with various junior developers. I love helping where I can, so if you want to chat, definitely
        a(href="mailto:michelle@michellejl.com") reach out
        |  and I will see what I can do!
    .image
      img(src="/images/me_wwc.jpg")