#volunteer
  h1 Coding in my Community
  .flex
    .info
      h2 Women Who Code
      p
        | Portland has an amazing tech community, full of people who have helped me grow in so many different ways.
        a(href="https://www.womenwhocode.com/portland" target="_blank") Women Who Code
        |  was the first group I got involved with when I moved to Portland. I am so excited that I am now a part of the leadership team working on Networking Nights and other events. Checkout upcoming events on
        a(href="https://www.meetup.com/Women-Who-Code-Portland/" target="_blank") Meetup.com
        |  and say "hi". You can read more about my experiences with WWC in this
        a(href="/blog/post/my-experiences-with-women-who-code-portland") post
        |  I wrote.
      h2 PDX Node
      p
        | I recently started working as a co-organizer for the
        a(href="https://www.meetup.com/pdxnode/" target="_blank") PDX Node meetup group
        | . I'm working with the other organizers on both the demo and hack nights, to bring in speakers and otherwise make the events awesome.
      h2 Mentoring: Mentorship Saturday & Free Code Camp
      p
        | Now that I have built up some experience in the field, I enjoy being able to take some time to help new developers that I meet. I have a great passion for sharing what I have learnt with others. I frequently mentor at
        a(href="https://www.meetup.com/Mentorship-Saturdays/" target="_blank") Mentorship Saturdays
        |  and
        a(href="https://www.meetup.com/Free-Code-Camp-Portland/" target="_blank") Free Code Camp
        | Meetups, as well as more official relationships with junior developers.
    .image
      img(src="/images/me_wwc.jpg")