extends layout

block content
  #blog-list
    h1 Sometimes I Write Things
    article
      h2 My Experiences with Women Who Code Portland
      .flex
        .left
          img(src="images/blog/wwc.jpeg")
        .right
          p.desc Today I wanted to write a little bit about a meetup group called Women Who Code that I have been involved with since the summer of 2015. This is mostly a giant 'THANK YOU!' to them for everything they do.
            a(href="/blog/post/my-experiences-with-women-who-code-portland") Read More...
          p.date March 10, 2017
          ul.tags
            li Meetups
            li Women Who Code
            li Portland
    article
      h2 Everything I Forgot About Images
      .flex
        .left
          img(src="images/blog/images-for-web.jpg")
        .right
          p.desc I went to a great talk this week where the speaker, Jessica Tate, reminded me about a lot of best practices for using image on the web that I seem to have forgotten about as of late. She took a subject I have always found boring and a little annoying and made it interesting and relevant. She was an engaging speaker. Here are some of my main take aways from her talk.
            a(href="/blog/post/everything-i-forgot-about-images") Read More...
          p.date February 24, 2017
          ul.tags
            li Meetups
            li Speakers
            li Images
            li Portland
            li Photography
    article
      h2 Conference Review : Developer Week 2017
      .flex
        .left
          img(src="images/blog/dev_week_2017.jpg")
        .right
          p.desc I spent the majority of the past week in San Francisco attending Developer Week 2017. I had an amazing time and I am so glad I was able to attend. This conference amazing! While I definitely enjoyed some parts more than others, I learnt a lot and would definitely do it all over again.
            a(href="/blog/post/conference-review-developer-week-2017") Read More...
          p.date February 17, 2017
          ul.tags
            li Conference
            li Hackathon
            li San Francisco
    article
      h2 Favorite Stock Photo Sites
      .flex
        .left
          img(src="images/blog/stock-photography.jpg")
        .right
          p.desc Although I certainly consider myself to be a photographer, at least of the hobbyist variety, I don't often have the pictures I am looking for when building a site. While I continue to grow my own collection of photos I can use, I have started gathering up a list of my favorite places to look for free stock photos.
            a(href="/blog/post/favorite-stock-photography-sites") Read More...
          p.date June 26th, 2016
          ul.tags
            li Resources
            li Photography
            li Stock
            li Design
            li Lists
