extends layout

block content
  #contact-block
    h1 Contact Me 
    .container
      p.intro-center 
        | Send me a message 
        i.fa.fa-paper-plane-o(aria-hidden="true") 
        |  about anything or come find me on social media. 
      include partials/form
    hr
    h2 Find me Online
    .flex
      ul#social
        include partials/social
      .right 
        img(src="/images/me_jackson.jpg").contactMe
