extends layout

block content
  #home.flex
    .left
      h1.heading Hi, I'm Michelle: <br />Full Stack Developer
      p 
        | I’m Michelle, a creative Full Stack Developer with a passion for the Front End. I am currently living in the Portland, Oregon Area. Nothing excites me more than immersing myself in a good challenge or a great book. Solving puzzles and complex logic problems is something I started doing as a kid and still love to do today. Coding makes my inner kid ecstatic by combining logical problem solving and my artistic passions. When not coding, I am spending my time creating something new, getting involved in the local tech community, or exploring the world around me with my trusty Nikon camera. If you’re curious to know more about me or the various projects I work on I invite you to continue to check out my website or connect with me on social media.
      a(href="/portfolio").btn.cta View Projects
    .right(style='background-image: url("images/me.jpg");')
  hr
  include partials/basic-info
  hr
  include partials/volunteer
  hr
  include partials/big-events








