extends layout

block content
  #home.flex
    .left
      h1.heading Hi, I'm Michelle: <br />Full Stack Developer
      p 
        | Hello World! I’m Michelle, a full stack web developer and software engineer currently in Portland, Oregon. Nothing excites me more than immersing myself in a good challenge or a great book. When not coding, I am most likely spending my time on some sort of creative project, getting involved in the local tech community, or exploring the world around me with my trusty Nikon camera.
      a(href="/portfolio").btn.cta View Projects
    .right(style='background-image: url("images/me.jpg");')
  hr
  include partials/basic-info
  hr
  include partials/volunteer
  hr
  include partials/big-events








