extends layout

block content
  #home.flex
    .left
      h1.heading Hi, I'm Michelle: <br />Software Engineer
      p 
        | Hello World! I’m Michelle, a web developer and software engineer currently residing in Portland, Oregon. Nothing excites me more than immersing myself in a good challenge or a great book. When not coding, I am most likely spending my time on some sort of creative project, or exploring the world around me with my trusty 
        a(href="http://www.nikonusa.com/en/nikon-products/product-archive/dslr-cameras/d300.html" target="_blank") Nikon
        |  camera.
      a(href="/portfolio").btn.cta View Projects
    .right(style='background-image: url("images/me.jpg");')
  hr
  include partials/basic-info
  hr
  include partials/volunteer
  hr
  include partials/big-events








