extends layout

block content
  #home.flex
    .left
      h1.heading Hi, I'm Michelle: <br />Software Engineer
      p 
        | Hello World! I’m Michelle, a web developer and software engineer currently residing in Portland, Oregon. Nothing excites me more than immersing myself in a good challenge or a great book. When not coding, I am most likely spending my time on some sort of creative project, or exploring the world around me with my trusty 
        a(href="http://www.nikonusa.com/en/nikon-products/product-archive/dslr-cameras/d300.html" target="_blank") Nikon
        |  camera.
      a(href="/portfolio").btn.cta View Projects
    .right(style='background-image: url("images/me.jpg");')
  hr 
  #basic-info
    h1 Basic Facts
    .flex
      .image 
        img(src="/images/me_camera.jpg")
      .info
        ul
          li
            span.topic
              i.fa.fa-user 
              | Name: 
            span.answer
              | Michelle J Levine
          li
            span.topic
              i.fa.fa-map-marker 
              | Current Location: 
            span.answer
              | Portland, Oregon
          li
            span.topic
              i.fa.fa-hospital-o 
              | City of Birth: 
            span.answer
              | San Francisco, California       
          li
            span.topic
              i.fa.fa-briefcase 
              | Job Title: 
            span.answer
              | Software Engingeer @ 
              a(href="https://stackery.io" target="_blank") Stackery
          li
            span.topic
              i.fa.fa-camera-retro 
              | Hobbies: 
            span.answer
              | Reading, 
              a(href="http://threewoodenpigeons.com" target="_blank") Photography
              | , Painting, Gaming, Coding
          li
            span.topic
              i.fa.fa-globe 
              | Furthest I have been from home:  
            span.answer
              | 7,581 Miles (Sydney, Australia)
          li
            span.topic
              i.fa.fa-book 
              | Currently Reading:  
            span.answer
              a(href="https://www.barnesandnoble.com/w/dragon-reborn-robert-jordan/1005312927?ean=9781429960168" target="_blank")
                | The Dragon Reborn by Robert Jordan
    p.center Want to know something else? Send me a 
      a(href="mailto:michelle@michellejl.com") message
      | ! 
  hr
  #volunteer
    h1 Volunteer Work
    .flex
      .info
        h2 Women Who Code
        p 
          | Portland has an amazing tech community, full of people who have helped me grow in so many different ways. 
          a(href="https://www.womenwhocode.com/portland" target="_blank") Women Who Code
          |  was the first group I got involved with when I moved to Portland. I am so excited that I am now a part of the leadership team working on Networking Nights and other events. Checkout upcoming events on 
          a(href="https://www.meetup.com/Women-Who-Code-Portland/" target="_blank") Meetup.com
          | and say "hi". 
        h2 Mentoring
        p 
          | Now that I have built up some experience in the field, I enjoy being able to take some time to mentor new developers that I meet. I have a great passion for sharing what I have learnt with others. I mentor at various meetups around town as well as more official relationships with various junior developers. I love helping where I can, so if you want to chat, definitely 
          a(href="mailto:michelle@michellejl.com") reach out
          |  and I will see what I can do! 
      .image
        img(src="/images/me_wwc.jpg")
  hr
  #conference
    h1 Conferences and Hackathons I've Attended
    ul.big-events-list
      li.year
        h2 2017
        ul.flex
          li.conference
            span.title Indie Web Summit
            span.date June 24-25, 2017
            span.location Portland, Oregon
          li.conference
            span.title Open Source Bridge
            span.date June 20-22, 2017
            span.location Portland, Oregon
          li.conference
            span.title ACT-W
            span.date June 16-17, 2017
            span.location Portland, Oregon
          li.conference
            span.title Developer Week
            span.date February 13-15, 2017
            span.location Pier 27 in San Fransisco, California
          li.hackathon
            span.title Developer Week Hackathon
            span.date February 11-12, 2017
            span.location Galvanize in San Francisco, California
          li.hackathon
            span.title Hack the Dot
            span.date February 9, 2017
            span.location Vacasa in Portland, Oregon
      li.year
        h2 2016
        ul.flex
          li.hackathon
            span.title IoT Hackathon - Women Who Code
            span.date December 2-4, 2016
            span.location Simple in Portland, Oregon
          li.hackathon
            span.title We Code Women's Hackathon
            span.date November 4-5, 2016
            span.location Puppet in Portland, Oregon
          li.conference
            span.title Open Source Bridge
            span.date June 21-24, 2016
            span.location Eliot Center in Portland, Oregon
          li.conference
            span.title NodePDX
            span.date June 19-21, 2016
            span.location Bossanova Ballroom in Portland, Oregon
      li.year
        h2 2015
        ul.flex
          li.hackathon
            span.title HackPDX
            span.date December 5, 2015
            span.location airbnb in Portland, Oregon
          li.hackathon
            span.title Hack the Dot
            span.date November 12, 2015
            span.location QuickLeft in Portland, Oregon
          li.conference
            span.title Wordcamp
            span.date October 24, 2015
            span.location Eliot Center in Portland, Oregon
          li.hackathon
            span.title We Code Women's Hackathon
            span.date July 24-25, 2015
            span.location Puppet Labs in Portland, Oregon








