doctype html
html
  head
    title Michelle JL
    link(href='/styles/main.css', rel='stylesheet', type='text/css')
    link(href='/styles/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(src='/js/google-analytics.js')
  body
    include partials/sidebar.pug
    #wrapper
      #content
        include partials/header.pug
        #main
          block content
        include partials/footer.pug
    
