/* COLORS */
@import "partials/colors";
/* TYPOGRAPHY */
@import "partials/typography";


/* GLOBAL */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
#main {
  min-height: 40vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  padding: 0;
  margin: 0;
}


/* HEADER */
@import "partials/header";

/* FOOTER */
@import "partials/footer";

/* SIDEBAR */
@import "partials/sidebar";

/* FORM */
@import "partials/form";

#wrapper {
  height: 100vh;
  width: 100%;
  transition: left 0.8s;
  position: absolute;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  background: white;
  overflow-y: auto;
}

#content {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;

  @media (max-width: 500px) { width: 95%; }

}

/* HOME PAGE */
@import "partials/home";

/* PORTFOLIO PAGE */
@import "partials/portfolio";

/* CONTACT PAGE */
@import "partials/contact";
