footer#footer {
  border-top: 3px solid $color;

  p.small {
    font-size: .8em;
    text-align: center;
    line-height: 1.8em;

    a {
      color: black;
      padding: 3px;
      &:hover {
        color: #fff;
      }
    }

  }

  nav.secondary-nav {
    padding-top: 15px;

    ul {
      text-align: center;

      li {
        display: inline-block;
        padding: 0 10px;
      }

    }

  }

}
