$headers: 'Roboto Slab';
$body: 'Roboto';
$accent: 'Rokkitt';
* {
  font-family: $body;
}



a {
  text-decoration: none;
  color: $color;
  background: linear-gradient(white 50%, $color 50%);
  background-size: 100% 200%;
  background-position: top;

  &:hover {
    color: #fff;
    background-position: bottom;
    transition: 0.5s ;
  }
  &.icon { font-family: fontAwesome; }

}

#main a {
  border-bottom: 2px solid $color;
  color: #000;
  padding: 0 3px;

  &:hover { color: #fff; }

  &.btn.cta {
    padding       : 15px 30px;
    font-size     : 1.2em;
    border-radius : 10px;
    border        : 2px solid $color;
    color         : $color;
    background    : transparent;
    display       : block;
    margin        : 0 auto;
    width         : 200px;
    text-align    : center;

    &:hover {
      background : $color;
      color      : #FFFFFF;
    }
  }
}


p {
  &.intro-center {
    font-size: 1.2em;
    text-align: center;
    font-style: italic;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers;
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}